</div>
<div class="artisan">
   <div class="collection-hero">
     <div class="collection-hero__image" >
      <div class="desktop flexslider">
        <ul class="slides">
          <li>
            <img src="{{ 'Marketplace_Banner_DT_12_11_15.jpg' | asset_url }}" alt="" />
      
          </li>
        </ul>
      </div> 
      <div class="mobile flexslider">
      <ul class="slides">
        <li>
          <img src="{{ 'Marketplace_Banner_M_12_11_15.jpg' | asset_url }}" alt="" />
        </li>
      </ul>
	</div> 
    </div>
  </div>
</div>

  <div class="wrapper">
    <div class="grid__item large--four-fifths push--large--one-tenth text-center">
		 <h1 class="text-center off-yellow-caps">    <hr class="hr--clear">Soulful Economy Marketplace</h1>
      <p>Discover our one-of-a-kind destination offering accessories, books, art, home décor and objects of desire featuring artisanal designs from D.O.T Haiti, Bali, Thailand and Papua New Guinea.</p>
    </div>
  </div>
<div class="wrapper">
<div class="grid haiti-artisans marketplace"> 
  <hr class="hr--small">
      <div class="grid__item large--one-third text-center">
        <div class="featured-prod-item">
			<img class="lazy" data-original="{{ 'Marketplace_1.jpg' | asset_url }}" alt="" />
          <span class="grid-product__meta" href="">
			<span class="grid-product__title"><div class="border"></div></span>
          </span>
        </div>
      </div>
  		<div class="grid__item large--one-third text-center">
        <div class="featured-prod-item">
			<img class="lazy" data-original="{{ 'Marketplace_2.jpg' | asset_url }}" alt="" />
          <span class="grid-product__meta" href="">
			<span class="grid-product__title"><div class="border"></div></span>
          </span>
        </div>
      </div>
  <div class="grid__item large--one-third text-center">
        <div class="featured-prod-item">
			<img class="lazy" data-original="{{ 'Marketplace_4.jpg' | asset_url }}" alt="" />
          <span class="grid-product__meta" href="">
			<span class="grid-product__title"><div class="border"></div></span>
          </span>
        </div>
      </div>
  <div class="grid__item large--one-third text-center">
        <div class="featured-prod-item">
			<img class="lazy" data-original="{{ 'Marketplace_6.jpg' | asset_url }}" alt="" />
          <span class="grid-product__meta" href="">
			<span class="grid-product__title"><div class="border"></div></span>
          </span>
        </div>
      </div>
  <div class="grid__item large--one-third text-center">
        <div class="featured-prod-item">
			<img class="lazy" data-original="{{ 'Marketplace_7.jpg' | asset_url }}" alt="" />
         <span class="grid-product__meta" href="">
			<span class="grid-product__title"><div class="border"></div></span>
          </span>
        </div>
      </div>
    <div class="grid__item large--one-third text-center">
          <div class="featured-prod-item">
  			<img class="lazy" data-original="{{ 'Marketplace_9.jpg' | asset_url }}" alt="" />
           <span class="grid-product__meta" href="">
  			<span class="grid-product__title"><div class="border"></div></span>
            </span>
          </div>
        </div>
    </div>

		  </div>
<div class="black-bg">
		        <hr class="hr--clear">

    <div class="grid">
      <div class="grid__item large--one-half text-center">
          <h3>Marketplace Location</h3>
          <p>URBAN ZEN CENTER<br>
            705 Greenwich Street (at Charles Street)<br>
            New York, NY 10014</p>
          <a target="_blank" class="btn outline gold" href="https://goo.gl/maps/6GYBkAAM74D2">Map It</a>
        <hr class="hr--clear">
      </div>
      <div class="grid__item large--one-half text-center">
          <h3>Hours</h3>
          <p>The marketplace hours are<br> the same as our New York City<br>flasgship store.</p>
          <a target="_blank" class="btn outline gold" href="/pages/stores">View Hours</a>
         <hr class="hr--clear">
      </div>
    </div>
    <div class="flex-nav-prev up clearfix"><a class="flex-prev" href="#"><span class="slick-prev-custom" id="rotate" style="width:100%;color:#c28742; position:relative !important;text-align:center;top:0;"></span>
      <span class="top-text text-center"> RETURN TO TOP</span></a></div>
	            	<hr class="hr--clear">
</div>