<!-- /templates/page.liquid -->
</div>
<div class="artisan">
  <div class="collection-hero">
    <div class="desktop collection-hero__image" style="height:550px;background-image: url({{ 'SL_Banner_D_2015_12_08.jpg' | asset_url }});"></div>
    <div class="mobile collection-hero__image" style="height:550px; background-image: url({{'SL_Banner_M_2015_12_08.jpg' | asset_url }});"></div>
  </div>
</div>
<div class="grid padding">
     <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-2_1_v2.jpg' | asset_url }}" />
       
      	<a href="/products/look-1" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-2_2.jpg' | asset_url }}" />
       
      	<a href="/products/look-2" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-2_3_v2.jpg' | asset_url }}" />
        
      	<a href="/products/look-3" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'ShopTheLook_4_500x800.jpg' | asset_url }}" />
        
      	<a href="/products/look-4" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
   <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'ShopTheLook_5_500x800.jpg' | asset_url }}" />
	    
      	<a href="/products/look-5" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
     	</a>
    </div>
    <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Row-1_Tweed-1_b.jpg' | asset_url }}" />
      	
      	<a href="/products/look-6" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
      </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-1_1.jpg' | asset_url }}" />
        
      	<a href="/products/look-7" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-1_4.jpg' | asset_url }}" />
        
      	<a href="/products/look-8" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
   
  <!--<a
      <div class="grid__item">
        <img style="width:100%;" class="desktop" src="{{ 'Shop-the-Look_Storm_Row-3.jpg' | asset_url }}" />
        <img style="width:100%;" class="mobile" src="{{ 'Shop-the-Look_Jumpsuit_m.jpg' | asset_url }}" />
        
      	<a href="/collections/ready-to-wear/products/hand-treated-suede-flight-suit" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>

-->
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-4.jpg' | asset_url }}" />
        
      	<a href="/products/leather-trimmed-hooded-sleeveless-dress" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-the-Look_Storm_Row-4_2.jpg' | asset_url }}" />
        
      	<a href="/products/look-10" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-by-Look_11_Racerback-Dress.jpg' | asset_url }}" />
        
      	<a href="/products/look-11" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'Shop-by-Look_12_Cowl-Neck-Dress.jpg' | asset_url }}" />
        
      	<a href="/products/look-12" class="grid-product__meta">
      		<span class="grid-product__title">Shop This Look</span>
        </a>
    </div>
</div>