</div>
<div class="artisan">
  <div class="collection-hero">
    <div class="collection-hero__image" >
    <div class="desktop flexslider">
      <ul class="slides">
        <li><img src="{{ 'Banner-Foundation-2.jpg' | asset_url }}" alt="" /></li>
        <li><img src="{{ 'UZF_Slider-2_UZIT_Desktop_2015_11_12.jpg' | asset_url }}" alt="" /></li>
        <li><img src="{{ 'UZF_Slider-3_Children_Desktop_2015_11_12.jpg' | asset_url }}" alt="" /></li>
      </ul>
	</div> 
      <div class="mobile flexslider">
      <ul class="slides">
        <li><img src="{{ 'UZF_Slider-1_Haiti_M_2015_11_12.jpg' | asset_url }}" alt="" /></li>
        <li><img src="{{ 'UZF_Slider-2_UZIT_M_2015_11_12.jpg' | asset_url }}" alt="" /></li>
        <li><img src="{{ 'UZF_Slider-3_Children_M_2015_11_12.jpg' | asset_url }}" alt="" /></li>
      </ul>
	</div> 
    </div>
  </div>
</div>
<div class="wrapper">
	<hr class="hr--clear">
  <div class="grid__item large--four-fifths push--large--one-tenth text-center">
    <h2>GIVING BACK</h2>
    <h3>WE SUPPORT THE URBAN ZEN FOUNDATION</h3>
    <p>The Urban Zen Foundation creates, connects and collaborates to raise awareness and inspire change in the areas of preservation of culture (Soulful Economy), Integrative Healthcare (Urban Zen Integrative Therapy Program) and Education.</p>
    <a href="http://urbanzen.org" class="btn outline" target="_blank">Learn More</a>

    <hr class="hr--clear">
  </div>
  <div class="grid padded">
   <div class="grid__item large--one-third text-center">
    <a href="http://urbanzen.org/about/preserving-cultures/"><img src="{{ 'UZF_Culture_2016_1.jpg' | asset_url }}"></a><br>
    <h4>PRESERVING CULTURES</h4>
    <p>
Programs such as the Haiti Artisan Project and D.O.T promote economic development for artisan communities through vocational education and job creation.
    </p>
	<a href="http://urbanzen.org/about/preserving-cultures/" class="btn outline" target="_blank">Help Preserve</a>

  </div>
 <div class="grid__item large--one-third text-center">
   <a href="http://uzit.urbanzen.org/"><img src="{{ 'UZF_UZIT_2016_1.jpg' | asset_url }}"></a><br>
    <h4>WELL-BEING</h4>
    <p>
The mission of the Urban Zen Integrative Therapy Program is to change the current healthcare paradigm by including integrative medicine and promoting patient advocacy.
    </p>
	<a href="http://uzit.urbanzen.org/" class="btn outline" target="_blank">Help Care</a>
   
  </div>
  <div class="grid__item large--one-third text-center">
    <a href="http://urbanzen.org/about/empowering-children/"><img src="{{ 'Paula-Impact-1.jpg' | asset_url }}"></a><br>
    <h4>EDUCATION/EMPOWERING CHILDREN</h4>
    <p>
Our mission is to care for our children’s well-being and give them the tools to face obstacles and opportunities with love, compassion & strength.
    </p>
	<a href="http://urbanzen.org/about/empowering-children/" class="btn outline" target="_blank">Help Empower</a>

  </div>

  </div>
  <br><br>
</div>