</div>
<div class="artisan">
   <div class="collection-hero">
     <div class="collection-hero__image" >
      <div class="desktop flexslider">
        <ul class="slides">
          <li>
            <img src="{{ 'Discover_Banner_Desktop_2015_11_11.jpg' | asset_url }}" alt="" />
            <span class="grid-product__meta">
              <span class="grid-product__title">
                <h4>“I have spent decades dressing people.<br> Now I want to address them.”</h4>
                <h5 class="off-yellow-caps">- Donna Karan</h5>
                <hr class="hr--clear-xs">
                <a href="/blogs/donnas-voice" class="btn outline" style="font-size:12px">Read Donna's Journal</a>
              </span>
            </span>
          </li>
        </ul>
      </div> 
      <div class="mobile flexslider">
      <ul class="slides">
        <li>
          <img src="{{ 'Discover_Banner_M_2015_11_12.jpg' | asset_url }}" alt="" />
          <span class="grid-product__meta">
              <span class="grid-product__title">
                <h5 style="color:#fff;font-size:inherit;">“I have spent decades dressing people. Now I want to address them.”</h5>
                <h6 class="off-yellow-caps">- Donna Karan</h6>
                <hr class="hr--clear-xs">
                <a href="/blogs/donnas-voice" class="btn outline" style="font-size:10px">Read Donna's Journal</a>
              </span>
            </span>
        </li>
      </ul>
	</div> 
    </div>
  </div>
</div>
<div class="wrapper">
	<hr class="hr--clear">
  <div class="grid__item large--four-fifths push--large--one-tenth text-center">
    <h1>DISCOVER URBAN ZEN</h1>
    <p>Urban Zen is a philosophy of living by Donna Karan, touched and inspired by cultures and artisans from around the world. We give back by supporting the Urban Zen Foundation, which has a mission to raise awareness and inspire change in the areas of Preservation of Cultures, Well-Being and Education.</p>
    <hr class="hr--clear">
  </div>
  <div class="grid padded">
    <div class="grid__item large--one-quarter text-center">
      <a href="/pages/our-story">
   
        <img src="{{ 'MG_2155_rt.jpg' | asset_url }}">
             <span class="grid-product__meta">
       	 <span class="grid-product__title">Our Story</span>
    	</span>
      </a>
    </div>
    <div class="grid__item large--one-quarter text-center">
	<a href="/pages/haiti-artisans">
    
        <img src="{{ 'Artisan-Resize.jpg' | asset_url }}">
        <span class="grid-product__meta">
         <span class="grid-product__title">Haiti Artisan</span>
      </span>
      </a>
    </div>
    <div class="grid__item large--one-quarter text-center">
      <a href="/blogs/donnas-voice">

        <img src="{{ 'Discover_DK-Voice_3.jpg' | asset_url }}">
              <span class="grid-product__meta">
         <span class="grid-product__title">Donna's Voice</span>
      </span>
      </a>
    </div>
    <div class="grid__item large--one-quarter text-center">
            <a href="/pages/urban-zen-foundation">

        <img src="{{ 'Home-Panel-Foundation-1.jpg' | asset_url }}">
                   <span class="grid-product__meta">
         <span class="grid-product__title">Urban Zen Foundation</span>
      </span>
      </a>
    </div>
  </div>
</div>