</div>
<div class="artisan">
   <div class="collection-hero">
     <div class="collection-hero__image" >
      <div class="desktop flexslider">
        <ul class="slides">
          <li>
            <img src="{{ 'soulful_gift_guide.jpg' | asset_url }}" alt="" />
      
          </li>
        </ul>
      </div> 
      <div class="mobile flexslider">
      <ul class="slides">
        <li>
          <img src="{{ 'gift_guide_Banner_M_12_11_15.jpg' | asset_url }}" alt="" />
        </li>
      </ul>
	</div> 
    </div>
  </div>
</div>
	<div class="grid haiti-artisans marketplace"> 
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_1.jpg' | asset_url }}" alt="MONGOLIAN SCARF" />
				<a class="grid-product__meta" href="/collections/jewelry-and-accessories/products/mongolia-scarf">
					<span class="grid-product__title"><div class="border"></div>MONGOLIAN SCARF</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_2.jpg' | asset_url }}" alt="KASIK BRAIDED COLLAR" />
				<a class="grid-product__meta" href="/collections/jewelry-and-accessories/products/kasik-braided-collar">
					<span class="grid-product__title"><div class="border"></div>KASIK BRAIDED COLLAR</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_3.jpg' | asset_url }}" alt="MY JOURNEY DONNA KARAN" />
				<a class="grid-product__meta" href="/collections/home-decor/products/donna-karans-the-journey-book">
					<span class="grid-product__title"><div class="border"></div>MY JOURNEY DONNA KARAN</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_4.jpg' | asset_url }}" alt="PAULA COLES HAND WOVEN REVERSIBLE TOTE" />
				<a class="grid-product__meta" href="/collections/jewelry-and-accessories/products/paula-coles-hand-woven-reversible-tote">
					<span class="grid-product__title"><div class="border"></div>PAULA COLES HAND WOVEN REVERSIBLE TOTE</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_5.jpg' | asset_url }}" alt="HAND WOVEN YOGA MAT BAG" />
				<a class="grid-product__meta" href="/collections/jewelry-and-accessories/products/hand-woven-black-yoga-mat-bag">
					<span class="grid-product__title"><div class="border"></div>HAND WOVEN YOGA MAT BAG</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_6.jpg' | asset_url }}" alt="COMO SHAMBHALA INVIGORATE BATH MILK" />
				<a class="grid-product__meta" href="https://www.urbanzen.com/collections/beauty/products/como-shambhala-invigorate-bath-milk">
					<span class="grid-product__title"><div class="border"></div>COMO SHAMBHALA<br> INVIGORATE BATH MILK</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_7.jpg' | asset_url }}" alt="URBAN ZEN DISH SET" />
				<a class="grid-product__meta" href="/collections/home-decor/products/urban-zen-dish-set">
					<span class="grid-product__title"><div class="border"></div>URBAN ZEN DISH SET</span>
				</a>
	        </div>
		</div>
	  	<div class="grid__item large--one-quarter text-center">
			<div class="featured-prod-item">
				<img class="lazy" data-original="{{ 'gift_guide_8.jpg' | asset_url }}" alt="DOUBLE-KNIT CASHMERE CREW-NECK SWEATER" />
				<a class="grid-product__meta" href="/collections/ready-to-wear/products/double-knit-cashmere-crew-neck-sweater">
					<span class="grid-product__title"><div class="border"></div>DOUBLE-KNIT CASHMERE <br>CREW-NECK SWEATER</span>
				</a>
	        </div>
		</div>
</div>
<div class="artisan">
   <div class="collection-hero">
     <div class="collection-hero__image" >
      <div class="desktop flexslider">
        <ul class="slides">
          <li>
            <img src="{{ 'Marketplace.jpg' | asset_url }}" alt="" />
      
          </li>
        </ul>
      </div> 
      <div class="mobile flexslider">
      <ul class="slides">
        <li>
          <img src="{{ 'gift_guide_Banner_M_12_11_15.jpg' | asset_url }}" alt="" />
        </li>
      </ul>
	</div> 
    </div>
  </div>
</div>