<!-- /templates/page.liquid -->
<style>
.slick-slide img{
	max-height:750px !important;
	
}
</style>
<div class="grid">
    <div class="grid__item large--one-quarter">
        <div class="item text">
        <div class="content">
          <div class="inner">
        <h1>The Journey</h1>
        <p>This season we take you on a journey a never ending journey. The journey you have dreamed about. But the journey that is right outside your door step waiting for you.</p>
        </div>
        </div>
      </div>
  </div>
    <div class="grid__item large--three-quarters">
	<div id="lookbook" class="slick" style="padding:0 50px;max-height:750px;">
    
	  <div class="item" > <img src="{{ 'The-Journey-Look-1.jpg' | asset_url }}" alt=""></div>
	  <div class="item" > <img src="{{ 'The-Journey-Look-2.jpg' | asset_url }}" alt=""></div>
	  <div class="item" > <img src="{{ 'The-Journey-Look-3.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-4.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-5.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-6.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-7.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-8.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-9.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-10.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-11.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-12.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-13.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-14.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-15.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-16.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-17.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-18.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-19.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-20.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-21.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-22.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-23.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-23.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-24.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-25.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-26.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-27.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-28.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-29.jpg' | asset_url }}" alt=""></div>
	  <div class="item" > <img src="{{ 'The-Journey-Look-30.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-31.jpg' | asset_url }}" alt=""></div>
      <div class="item" > <img src="{{ 'The-Journey-Look-32.jpg' | asset_url }}" alt=""></div>
	</div>
  </div>
</div>
