<!-- /templates/page.liquid -->
<div class="grid padding">
  <div class="large--five-sixths push--large--one-twelfth">
    <header class="section-header text-center">
      <img class="text-center" style="display:inline-block" src="{{ 'not-one-more-vert-logo.png' | asset_url }}" alt="Not One More" />
      <nav class="nom-nav"><a href="{{'/pages/not-one-more' | page.url }}">The Cause</a> | <a href="{{'/pages/the-movement' | page.url }}">The Movement</a></nav>
    </header>
    <img src="{{ 'cause-banner-2.png' | asset_url }}" alt="Not One More" width="100%" />
          <hr class="hr--small">
 <div class="grid__item large--four-fifths push--large--one-tenth text-center">
   <p>
   Urban Zen, founded by Donna Karan, has joined forces with Michael Bloomberg’s NOT ONE MORE campaign, along with Lise Evans, Everytown for Gun Safety, and Gabby and Mark Giffords/Americans For Responsible Solutions.
   <br><br>
As part of the movement, we’ve launched the Everytown X Not One More Bracelet, a collaboration of Urban Zen’s Haiti Artisan Project and Lise Evans. Fifty percent (50%) of net proceeds from this bracelet supports Everytown for Gun Safety’s efforts to pass common-sense public safety measure to reduce gun violence and save lives.
   </p>
   <a href="/collections/jewelry-and-accessories/products/not-one-more-bracelet" class="btn nom">Shop The Bracelet</a>
    </div>
    	<hr class="hr--large">

    <div class="row">
      <div class="grid__item large--one-half">
        <h1>EVERYTOWN X URBAN ZEN<br>NOT ONE MORE BRACELET</h1>
        <p>Purchase a bracelet to support NOT ONE MORE,<br>a movement to end gun violence.</p>
        <span class="price">$30.00</span><br><br>
        <a href="/collections/jewelry-and-accessories/products/not-one-more-bracelet" class="btn nom">Shop The Bracelet</a><br><br>
        <a href="/pages/stores">Find a store ></a>
      </div>
      <div class="grid__item large--one-half">
        <div class="flexslider">
          <ul class="slides">
            <li><img src="{{ 'Not-One-More-Press-DWF-1.jpg' | asset_url }}" alt="Double Wrap Bracelet" /></li>
          </ul>
		</div>
      </div>
    </div>
    <div class="row">
      <div class="grid__item large--one-half">
       <img src="{{ 'event-collage1.jpg' | asset_url }}" alt="Not One More Even Collage" />
      </div>
      <div class="grid__item large--one-half">
        <h1>A CALL TO ACTION</h1>
        <p>Each bracelet features the words “NOT ONE MORE,” a national rallying cry of the gun safety movement. These powerful words were inspired by Richard Martinez, the father of 20-year-old Christopher Ross Michaels-Martinez who was killed in the tragedy near the campus of UC Santa Barbara last May. Immediately after the tragedy, Richard Martinez stood up and demanded that “NOT ONE MORE” should die from senseless gun violence in this country.</p>
        <a href="" class="btn nom outline">Join The Movement</a>
      </div> 
    </div>
	<hr class="hr--small">
  	<div class="row">
      <div class="grid__item large--one-half">
        <h1>A NIGHT FOR A CHANGE</h1>
        <p>Thank you to everyone who attended the launch of the Everytown x Urban Zen NOT ONE MORE campaign.</p>
        <a href="" class="btn nom outline">View Event Gallery</a>
      </div> 
      <div class="grid__item large--one-half">
       <img src="{{ 'night-not-one-more-2.jpg' | asset_url }}" alt="Kathy Gifford and Mayor Micheal Bloomberg" />
      </div>
    </div>    
    <hr class="hr--small">
    <div class="row outline">
      <h1 class="text-center">PURCHASE AT URBAN ZEN</h1>
       <div class="grid__item large--one-third text-center">
    	<h3>NEW YORK</h3>
    	<p>705 Greenwich St | New York, NY 10014<br><a target="_blank" href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA">MAP IT</a></p><br>
      </div>
      <div class="grid__item large--one-third text-center">
    	<h3>SAG HARBOR</h3>
    	<p>4 Bay Street | Sag Harbor, NY 11963<br><a target="_blank" href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA">MAP IT</a></p><br>
      </div>
 	 <div class="grid__item large--one-third text-center">
    	<h3>ASPEN</h3>
		<p>Residences at The Little Nell | 501 E. Dean Street<br>
		Aspen, Colorado 81611<br><a target="_blank" href="https://www.google.com/maps/place/501+E+Dean+St,+Aspen,+CO+81611/data=!4m2!3m1!1s0x8740396264024019:0x1960e48ba2614167?sa=X&ei=KuUaVYOtDJPdsATZl4G4Dw&ved=0CB4Q8gEwAA">MAP IT</a></p>
   	</div>
    </div>
        <hr class="hr--small">
    <div class="row outline">
      <h1 class="text-center">Partners</h1>
      <div class="grid__item large--one-half">
     	<div class="grid__item large--one-quarter text-center">
     		<img style="width:auto;text-align:right;" src="{{ 'everytown_final_logo.png' | asset_url }}" alt="Kathy Gifford and Mayor Micheal Bloomberg" />
      	</div> 
        <div class="grid__item large--two-thirds">
          <p>The bracelets are available in two versions. The first, with a gold-colored clasp, is featured on this page. The second, with a silver-colored clasp, is available for a donation to Everytown through.
            <br><a href="" class="nobox nom">LEARN MORE</a></p>
      </div> 
      </div> 
      <div class="grid__item large--one-half">
      	<div class="grid__item large--two-thirds">
          <p>Americans for Responsible Solutions, founded by Gabby Giffords and Mark Kelly, encourages elected officials to stand up for solutions to prevent gun violence and protect responsible gun ownership.	
          <br><a href="" class="nobox nom">LEARN MORE</a></p>
      </div> 
        <div class="grid__item large--one-quarter text-center">
     	<img class="pull-right" style="width:auto;" src="{{ 'afrs-logo.png' | asset_url }}" alt="Kathy Gifford and Mayor Micheal Bloomberg" />
      </div> 
      </div>
    </div>  
     <hr class="hr--small">
    <div class="row outline">
      <div class="grid__item large--four-fifths push--large--one-tenth text-center">
      	<h1 class="text-center">Haiti Artisan Project</h1>
     	<p>The Everytown X Urban Zen leather bracelets are made in Haiti through a collabration of Urban Zen’s Haiti Artisan Project and Lise Evans.</p><br>
		<a href="" class="nobox nom">LEARN MORE</a>
       	<hr class="hr--small">
      	<p class="nom note">Please note that purchases of the NOT ONE MORE Bracelet are not tax-deductible. All sales are final.</p>
      </div>
    </div>  
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
