</div>
<div class="desktop row index">
    <div class="grid__item large--one-half text-center">
        <span class="grid-product__meta">
         	 <span class="grid-product__title" style="display:inline-block;">
             <h3>Fall 2015</h3>
             <h1>My Journey</h1>
        		 <hr class="hr--clear-xs">
                <a href="/pages/2015-fall-winter-shop-the-look" class="btn outline">Shop</a>
        		</span>
      	</span>
     <img  style="width:100%;" src="{{ 'My-Journey-Desktop.jpg' | asset_url }}"/>
    </div>
    <div class="grid__item large--one-half text-center">
          <span class="grid-product__meta">
         	 <span class="grid-product__title" style="display:inline-block;">
             <h3>Globally Inspired</h3>
             <h1>Home Accessories</h1>
        		 <hr class="hr--clear-xs">
                <a href="/collections/home-decor" class="btn outline">Discover</a>
        </span>
      	</span>
     	<img class="desktop" style="width:100%;" src="{{ 'Home-Desktop.jpg' | asset_url }}"/> 
    </div>
</div>
<div class="mobile row index">
	<div class="flexslider">
	<ul class="slides">
		<li>
   <div class="grid__item  text-center">
      <span class="grid-product__meta">
       	 <span class="grid-product__title" style="display:inline-block;">
           <h3>Fall 2015</h3>
           <h1>My Journey</h1>
      		 <hr class="hr--clear-xs">
              <a href="/pages/2015-fall-winter-shop-the-look" class="btn outline">Shop</a>
      		</span>
    	</span>
   <img class="mobile" style="width:100%;" src="{{ 'HP_M_Slider_Collection_15_11_06.jpg' | asset_url }}"/>
   
  </div>
</li>
<li>
  <div class="grid__item text-center">
        <span class="grid-product__meta">
       	 <span class="grid-product__title" style="display:inline-block;">
           <h3>Globally Inspired</h3>
           <h1>Home Accessories</h1>
      		 <hr class="hr--clear-xs">
              <a href="/collections/home-decor" class="btn outline">Discover</a>
      </span>
    	</span>
  	<img class="mobile" style="width:100%;" src="{{ 'HP_M_Slider_Home-Decor_15_11_06.jpg' | asset_url }}"/>
 
  </div>
</li>
</ul>
</div>
</div>
<div class="row index bottom">
<div class="grid">
  <div class="grid__item large--one-quarter small--one-half text-center">
      <a href="/pages/urban-zen-foundation">
        <span class="grid-product__meta">
          <span class="grid-product__title">Urban Zen Foundation</span>
        </span>
        <img class="desktop" src="{{ 'UZ-Foundation.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'HP_M_UZF_15_11_06.jpg' | asset_url }}">
        <div class="dark-bg"></div>
      </a>
    </div>
     <div class="grid__item large--one-quarter small--one-half text-center">
      <a href="/blogs/donnas-voice" class="fancybox-media">
        <span class="grid-product__meta">
       	 <span class="grid-product__title">Donna's Voice</span>
    	</span>
        <img class="desktop" src="{{ 'Donnas-message.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'HP_M_Donnas-Voice.jpg' | asset_url }}">		
        <div class="dark-bg"></div>
      </a>
    </div>
    <div class="grid__item large--one-quarter small--one-half text-center">
	<a href="/products/donna-karans-the-journey-book">
      <span class="grid-product__meta">
         <span class="grid-product__title">My Journey</span>
      </span>
        <img class="desktop" src="{{ 'My-Journey.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'HP_M_My-Journey-Book.jpg' | asset_url }}">		
        <div class="dark-bg"></div>
      </a>
    </div>
    <div class="grid__item large--one-quarter small--one-half text-center">
      <a href="/pages/stores">
      <span class="grid-product__meta">
         <span class="grid-product__title">Visit Our Locations</span>
      </span>
        <img class="desktop" src="{{ 'our-locations.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'HP_M_Locations.jpg' | asset_url }}">
        <div class="dark-bg"></div>
      </a>
    </div>
    
  </div>
</div>