<!-- /templates/page.liquid -->
</div>
  <header class="section-header text-center">
        <h3 class="grey">READY-TO-WEAR COLLECTION</h3>	
        <h1>FALL 2015</h1>
        <div class="grid">
          <div class="grid__item large--one-half push--large--one-quarter">
            <div class="rte--nomargin text-center">
              <p> “When a woman walks into a store, she wants to be inspired. She shops for things she can wear here, today — yet also knows she can wear it into the next season.”<br>
              – Donna Karan
              </p>
              
            </div>
          </div>
        </div>
      </header>  
<div class="artisan collections">
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Banner-The-Storm-Dark.jpg' | asset_url }});">
      <header class="section-header">
           <div class="grid__item large--five-sixths push--large--two-twelfths">

       <div class="grid__item large--one-third push--large--one-twelfth">
         <div class="collections-title">
           <div class="title-wrap">
        	 <h2>My Journey<br> Collection</h2>
         	<a href="/pages/fall-winter-2015-the-journey-lookbook" class="btn outline">View The Collection</a>
           </div>
         </div>
        </div>
        <div class="grid__item large--one-third push--large--one-twelfth text-center">
          <img src="{{ 'Storm-Look-Cover_large.jpg' | asset_url }}" />
        </div>
        </div>
      </header>
    </div>
  </div>
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Banner-Harmony-Dark.jpg' | asset_url }});">
     <header class="section-header">
           <div class="grid__item large--five-sixths push--large--two-twelfths">

       <div class="grid__item large--one-third push--large--one-twelfth">
         <div class="collections-title">
           <div class="title-wrap">
        	 <h2>The Harmony<br> Collection</h2>
         	<a href="/pages/the-harmony-collection" class="btn outline">View The Collection</a>
           </div>
         </div>
        </div>
        <div class="grid__item large--one-third push--large--one-twelfth text-center">
          <img src="{{ 'Harmony-Collection-Look-Sample.jpg' | asset_url }}" />
     
        </div>
        </div>
      </header>
    </div>
  </div>
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Banner-Evolution.jpg' | asset_url }});">
      <header class="section-header">
           <div class="grid__item large--five-sixths push--large--two-twelfths">

       <div class="grid__item large--one-third push--large--one-twelfth">
         <div class="collections-title">
           <div class="title-wrap">
        	 <h2>The Evolution Collection</h2>
         	<a href="/pages/the-evolution-collection" class="btn outline">View The Collection</a>
           </div>
         </div>
        </div>
        <div class="grid__item large--one-third push--large--one-twelfth text-center">
          <img src="{{ 'The-Evolution-Look-1.jpg' | asset_url }}" />
        </div>
        </div>
      </header> 
    </div>
  </div>
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Banner-Journey-Dark.jpg' | asset_url }});">
     <header class="section-header">
           <div class="grid__item large--five-sixths push--large--two-twelfths">

       <div class="grid__item large--one-third push--large--one-twelfth">
         <div class="collections-title">
           <div class="title-wrap">
        	 <h2>The Journey<br> Collection</h2>
         	<a href="/pages/the-journey-spring-summer-2014" class="btn outline">View The Collection</a>
           </div>
         </div>
        </div>
        <div class="grid__item large--one-third push--large--one-twelfth text-center">
          <img src="{{ 'The-Journey-Look-1.jpg' | asset_url }}" />
        </div>
        </div>
      </header>
    </div>
  </div>
   <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Banner-Gold-Dark.jpg' | asset_url }});">
     <header class="section-header">
           <div class="grid__item large--five-sixths push--large--two-twelfths">

       <div class="grid__item large--one-third push--large--one-twelfth">
         <div class="collections-title">
           <div class="title-wrap">
        	 <h2>In Search of Gold Collection</h2>
         	<a href="/pages/in-search-of-gold-collection" class="btn outline">View The Collection</a>
           </div>
         </div>
        </div>
        <div class="grid__item large--one-third push--large--one-twelfth text-center">
          <img src="{{ 'In-Search-Of-Gold-Look-1.jpg' | asset_url }}" />        
        </div>
        </div>
      </header>
    </div>
  </div>
   <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Banner-Reflections2.jpg' | asset_url }});">
     <header class="section-header">
           <div class="grid__item large--five-sixths push--large--two-twelfths">

       <div class="grid__item large--one-third push--large--one-twelfth">
         <div class="collections-title">
           <div class="title-wrap">
        	 <h2>The Reflections Collection</h2>
         	<a href="/pages/reflections-collection" class="btn outline">View The Collection</a>
           </div>
         </div>
        </div>
        <div class="grid__item large--one-third push--large--one-twelfth text-center">
          <img src="{{ 'Collections-Reflections.jpg' | asset_url }}" />
        </div>
        </div>
      </header>
    </div>
  </div>
</div>
  
