<!-- /templates/page.liquid -->
<div class="grid padding">
  <div class="large--five-sixths push--large--one-twelfth">
    <header class="section-header text-center">
      <img style="display:inline-block;" src="{{ 'not-one-more-vert-logo.png' | asset_url }}" alt="Not One More" />
      <nav class="nom-nav"><a href="{{'/pages/not-one-more' | page.url }}">The Cause</a> | <a href="{{'/pages/the-movement' | page.url }}">The Movement</a></nav>
    </header>
    
       <div class="row">
      <div class="grid__item large--one-half">
       <img src="{{ 'movement-banner.jpg' | asset_url }}" alt="Not One More Even Collage" />
      </div>
      <div class="grid__item large--one-half">
        <h1>JOIN THE MOVEMENT</h1>
        <p>Take a picture wearing the bracelet and share it on your social media network using:</p>
        <p class="nom red">#NotOneMore #UrbanZen #Everytown</p>
         <hr class="hr--small">
        <h5>JOIN THE COMMUNITY</h5>
              <ul class="inline-list no-bullets social-icons large">
                    <li>
                      <a href="https://www.facebook.com/UrbanZen" title="Urban Zen on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://twitter.com/urban_zen" title="Urban Zen on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://www.pinterest.com/urbanzenpins/" title="Urban Zen on Pinterest">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://instagram.com/urbanzen/" title="Urban Zen on Instagram">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                      </a>
                    </li>
                </ul>
      </div> 
    </div>
     <hr class="hr--small">
    <div class="grid padded">
    <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom01-250x250.jpg' | asset_url }}">
    </div>
    <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom02-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom03-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom04-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom05-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom06.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom07-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom08-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom09-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom10-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom11-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom12-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom13-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom14-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom15-250x250.jpg' | asset_url }}">
    </div>
      <div class="grid__item large--one-quarter text-center">
        <img src="{{ 'nom16-250x250.jpg' | asset_url }}">
    </div>
      
      
    </div>
  </div>
</div>
