<!-- /templates/page.liquid -->
<style>
.slick-slide img{
	max-height:750px !important;
	
}
</style>
<div class="grid">
  <div class="grid__item large--one-quarter">
    <div class="item text">
        <div class="content">
          <div class="inner">
        	<h3></h3>
        	<h1>THE FURNITURE COLLECTION</h1>
        	<p>A collection inspired by the force of nature. Everything offers shelter from the cold: Warm, wrapped, latered, protected, grounded. The black, white and gray palette is soft, yet graphic, echoing the shifting clouds and moods of a winter day.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="grid__item large--three-quarters">
  <div id="lookbook" class="slick" style="padding:0 50px;max-height:750px;">
	  		<div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '1-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '2-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '3-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '4-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '5-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '6-Furniture.jpg' | asset_url }}" alt=""></div>
      	  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '7-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '8-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '9-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '10-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '11-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '12-Furniture.jpg' | asset_url }}" alt=""></div>
          <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '13-Furniture.jpg' | asset_url }}" alt=""></div>
		  <div class="lazy item" > <img src="{{ 'alpha.gif' | asset_url }}" data-src="{{ '14-Furniture.jpg' | asset_url }}" alt=""></div>
	</div>
  </div>
</div>
