<!-- /templates/page.liquid -->
</div>
<div class="artisan">
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ 'Apparent-Project-Banner.jpg' | asset_url }});">
      <header class="section-header text-center">
        <h3 class="yellow-caps">Haiti Artisan Project</h3>	
        <h1>{{ page.title }}</h1>
        <div class="grid">
          <div class="grid__item large--one-half push--large--one-quarter">
            <div class="rte--nomargin text-center">
              {{ page.content }}
              <hr class="hr--clear-xs">
              <a href="https://www.youtube.com/embed/gKsvU4PF2Qc?rel=0autoplay=1" class="btn lightbox fancybox.iframe">Watch Video</a>
            </div>
          </div>
        </div>
      </header>  
    </div>
  </div>
  <hr class="hr--clear-xs">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--one-third text-center">
        <h2>The Idea</h2>
        <img src="{{ 'dk_shelley_clay_rt1.jpg' | asset_url }}">
      </div>
      <div class="grid__item large--one-third text-center">
        <h2>The Craft</h2>
        <img src="{{ 'Apparent-Project-1.jpg' | asset_url }}">
      </div>
      <div class="grid__item large--one-third text-center">
        <h2>The Impact</h2>
        <img src="{{ 'Apparent-Project-2.jpg' | asset_url }}">
      </div>
       <hr class="hr--clear-xs">
      <div class="grid__item text-center">
        <h2>SHOP THE CURRENT APPARENT PROJECT COLLECTION AT OUR STORES</h2>
        <h3><strong>NYC</strong> 1.212.206.3999 | <strong>SAG HARBOR</strong> 1.212.206.3999 | <strong>ASPEN</strong> 1.970.710.2961</h3>
        <hr class="hr--clear">
        <a href="http://www.youtube.com/watch?v=opj24KnzrWo" class="fancybox-media">Inquire</a>
        <hr class="hr--clear-xs">
      </div>
    </div>
  </div>
  <div>
    <img style="width:100%;" src="{{ 'Apparent-Project_Product-Grid.jpg' | asset_url }}"/>
  </div>
	<header class="section-header text-center">
        <div class="grid">
          <div class="grid__item large--one-half push--large--one-quarter">
            <div class="rte--nomargin text-center">
              <h2>Beauty has a way of changing things</h2>
              <h5>The Mission of the project</h5>
              <p>Apparent Project is trying to help mothers and fathers in poverty be A PARENT to their children. They are educating and taking care of street kids who don’t have A PARENT. They are using media and the arts to make the needs of Haiti APPARENT to those who can help.</p>
               <hr class="hr--clear-xs">

              <h5>Spread The Word: <span class="lowercase">#UZArtisans</span></h5>
              <ul class="inline-list no-bullets social-icons">
                  
                    <li>
                      <a href="https://www.facebook.com/UrbanZen" title="Urban Zen on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://twitter.com/urban_zen" title="Urban Zen on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://www.pinterest.com/urbanzenpins/" title="Urban Zen on Pinterest">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://instagram.com/urbanzen/" title="Urban Zen on Instagram">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                      </a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </header> 
    </div>
